NODE_ENV=development
PORT=3001
LOG_LEVEL=info

DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

BETTER_AUTH_SECRET="change-me-min-32-chars-aaaaaaaaaaaaaaaaaaaa"
BETTER_AUTH_URL="http://localhost:3001"
FRONTEND_URL="http://localhost:5173"
